//variables
*,
*:after,
*:before {
  box-sizing: border-box;
}

$duration: 16s;
//$duration: 0s;

$grey: #616a92;
$dark: #323641;
$light: lighten($grey, 15%);

$depth: 20vw;

$cube-inner-shadow: inset 0 0 1vw rgba(cyan, 0.07);

//layout
body {
  display: flex;
  background: black;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: "Play", sans-serif;
}

.screen {
  width: 100%;
  padding-top: 75%;
  position: relative;
  max-height: 100vh;
  transform-style: preserve-3d;
  perspective: 400px;
  overflow: hidden;
}
//
