//variables
*,
*:after,
*:before {
  box-sizing: border-box;
}

$duration: 16s;
//$duration: 0s;

$grey: #616a92;
$dark: #323641;
$light: lighten($grey, 15%);

$depth: 20vw;

$cube-inner-shadow: inset 0 0 1vw rgba(cyan, 0.07);

//layout
body {
  display: flex;
  background: black;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: "Play", sans-serif;
}

.screen {
  width: 100%;
  padding-top: 75%;
  position: relative;
  max-height: 100vh;
  transform-style: preserve-3d;
  perspective: 400px;
  overflow: hidden;
}
//Inner container et background
.inner {
  .inner-bg {
    background-image: url(https://res.cloudinary.com/dhpaysqxb/image/upload/v1568580561/nebula_prju57.png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateZ(-30vw) scale(1.4);
    opacity: 0.8;
  }

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1%;
  padding-top: 10%;
  transform-style: preserve-3d;
  animation: enter $duration cubic-bezier(1, 0, 0.4, 1) infinite;
}
//
